.btn{
    margin-top: 50px;
}
.img-fon-4{
    position: absolute;
    left: 0px;
    bottom: 0px;
}
.img-fon-5{
    position: absolute;
    right: 0px;
    bottom: 150px;
} 
.img-fon-6{
    position: absolute;
    right: 0px;
    bottom: 0px;
}
.img-fon-7{
    position: absolute;
    left: 0px;
}
.img-fon-8{
    position: absolute;
    top: 0px;
    right: 0px;
    
}
