body{
    background-color: #FFE8D1; 
    
}
.shool{
    text-align: center; margin-top: 50px;margin-bottom: 50px;
    font-weight: 1000;
}
.container{
    margin: 0 auto;
}
.btn{
    background-color: #FFCB8B; 
    font-size:64px ;
    padding: 30px 30px;
    border-radius: 28px;
    width: 600px;
    margin-bottom: 30px;
    font-weight: 900;;
    margin-top: 150px;
} 
.img-fon-1{
    position: absolute;
    bottom: 0px;
}
.img-fon-2{
    position: absolute;
    top: 20px;
    right: 0px;
}
.img-fon-3{
    position: absolute;
    top: -100px;

}
